body {
  background-color: white; /*#1D598F*/
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
img.b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 75%;
}
img.c {
  /*images à droite*/
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  width:500px;
  height:350px;
}
img.d {
  /*image à gauche*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
}

a {
  text-decoration:none;
  color:white;
}

.button1 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #519ddb;
  border-radius: 6px;
  font-weight: bold;
  /*top: 70%; 
  left: 35%;
  -ms-transform: translate(100%, 50%);
  transform: translate(100%, 50%);*/
}

.button2 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #519ddb;
  border-radius: 6px;
  font-weight: bold;
  top: 20%;
  left: 75%;
  -ms-transform: translate(-100%, 75%);
  transform: translate(-100%, 75%);
}

/*.gauche {
  margin: 0;
  top: 20%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.droite {
 margin: 0;
 top: 20%;
 left: 75%;
 -ms-transform: translate(-20%, -75%);
 transform: translate(-20%, -75%);
}*/

.dd {
  text-align: right;
}

.barre-inferieure {
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  padding: 10px;
  color:white;
  text-align: center;
  line-height: 2.5;
}

.sous-titre {
  font-weight: bold;
}

.separation {
  background-color: rgb(155, 149, 149);
}

/*images*/

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-cont {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.cont .box { 
                margin:50px; 
                display:table; 
            } 
            .cont .box .box-row { 
                display:table-row; 
                width : 120%;
            } 
            .cont .box .box-cell.box1 { 

                text-align:justify; 
             } 
            .cont .box .box-cell { 
                display:table-cell; 
            }
            .cont .box .box-cell.box2 { 
                text-align:justify;
                padding-left: 10px;
            }