#haut-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 92vh;
  background: linear-gradient(
      to bottom,
      rgb(166, 199, 249, 0.6),
      rgb(166, 199, 249, 0.2)
    ),
    url("../../images/BeauFrigo.jpg") no-repeat fixed center/cover;
  overflow: hidden;
  opacity: 100%;
  animation: fadeIn 1.5s ease forwards;
  background-size: cover;
  line-height: 200px;
}

#haut-page::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  filter: blur(2px);
  z-index: 0;
}

#haut-page .page-titre,
#haut-page .material-symbols-outlined {
  position: relative;
  z-index: 1;
}

h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-shadow: 0 1px 15px rgba(7, 7, 7, 0.3);
}


@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



body {
  background-color: white; /*#1D598F*/
}


img.b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 75%;
}

img.c {
  /*images à droite*/
  /*display: block;
  margin-left: auto;
  margin-right: auto;*/
  width:650px;
  height:450px;
}

img.d {
  /*image à gauche
  display: block;
  margin-left: auto;
  margin-right: auto;*/
  width:500px;
  height:350px;
}

p {
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration:none;
  color:white;
}

.button1 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #519ddb;
  border-radius: 6px;
  font-weight: bold;
  top: 20%;
  left: 25%;
  -ms-transform: translate(100%, 0%);
  transform: translate(100%, 0%);

}

.button2 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #519ddb;
  border-radius: 6px;
  font-weight: bold;
  top: 20%;
  left: 75%;
  -ms-transform: translate(-100%, 75%);
  transform: translate(-100%, 75%);
}

.dd {
  text-align: right;
}

.barre-inferieure {
  display: grid;
  grid-template-columns: auto auto;
  background-color: black;
  padding: 10px;
  color:white;
  text-align: center;
  line-height: 2.5;
}

.sous-titre {
  font-weight: bold;
}

.separation {
  background-color:white;
}

/*images*/

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-cont {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.cont .box { 
                margin:0px; 
                display:table; 
                margin-left: 0%;
                margin-right: 0;
                width: 100%;
            } 
            .cont .box .box-row { 
                display:table-row; 
                width : 100%;
                text-align: left;
                
            } 
            .cont .box .box-cell.box1 { 

                text-align:justify;
                padding-right:0px;
                padding-left: 0px;
             } 
            .cont .box .box-cell { 
                display:table-cell; 
                
            }
            .cont .box .box-cell.box2 { 
                text-align:justify;
                padding-left: 16%;
            }