
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
img.a {
  vertical-align:top;
}
  
p {
  text-align:center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #519DDB;
}
