h1 {
  font-family: verdana;
  font-size: 74px;
}

h2 {
  color: white;
  background-color: #153249;
  font-family: verdana;
  font-size: 56px;
  margin: 0;
  padding: 5px 24px;
}

h3 {
  font-family: verdana;
  font-size: 44px;
}

p {
  font-family: verdana;
  font-size: 30px;
}

section.intro {
  color: white;
  border: 1px solid #153249;
  padding-left: 24px;
  position: relative;
  background: linear-gradient(to bottom left, rgb(16, 57, 96), rgb(8, 29, 48));
}

section.desc {
  border: 1px solid black;
  position: relative;
}

div.flex-container {
  display: flex;
  /* Show the flex items horizontally */
  flex-direction: row;
}

div.flex-container > div {
  margin: 10px;
  background-size: contain;
}

.fridge-container {
  padding-top: 50px;
  width: 2000px; /* Set the desired width for the cropped area */
  height: 1000px; /* Set the desired height for the cropped area */
  overflow: hidden; /* Ensures any part of the image outside the container is hidden */
}

.fridge-container img {
  width: 100%; 
  height: 100%;
  object-fit: cover; /* Scales the image to cover the container while preserving aspect ratio */
  object-position: center; /* Centers the image within the container (default) */
}

div.flex-container2 {
  display: flex;
  /* Show the flex items vertically */
  flex-direction: column;
  color: white;
  background-color: #1D598F;
}

div.flex-container2 > section {
  margin: 2px 30px;
  border-bottom: 2px solid white;
  transition: transform 0.3s ease-in-out;
}

div.flex-container2 > section:hover {
  transform: translateX(15px) scale(1.02);
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  div.flex-container {
    flex-direction: column;
  }
}
