* {
  scroll-behavior: smooth;
}

h4 {
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 15px;
}

section.intro {
  color: white;
  padding: 0px 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 92vh;
  background: linear-gradient(
      to bottom,
      rgb(83, 162, 245, 0.3),
      rgba(8, 30, 50, 0.3)
    ),
    url("../../images/ProductDesctriptionBackground.jpg") no-repeat fixed
      center/cover;
  overflow: hidden;
}

section.desc {
  border: 1px solid black;
  position: relative;
}

div.flex-container {
  padding: 100px 0px;
  display: flex;
  flex-direction: row;
  /* background: linear-gradient(
      to bottom right,
      rgb(15, 55, 92, 0.95),
      rgb(7, 21, 36, 0.95)
    ),
    url("../../images/marble-texture.jpg") repeat; */
  background: transparent;
  overflow: hidden;
}

div.flex-container > div {
  margin: 20px;
  background-size: contain;
}

.fridge-container {
  padding-top: 10px;
  width: 80vw; /* Set the desired width for the cropped area */
  height: 64vh; /* Set the desired height for the cropped area */
  overflow: hidden; /* Ensures any part of the image outside the container is hidden */
}

.fridge-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Scales the image to cover the container while preserving aspect ratio */
  object-position: center; /* Centers the image within the container (default) */
}

div2.flex-container2 {
  display: flex;
  flex-direction: column;
  color: white;
}

div2.flex-container2 > section {
  margin: 10px 15% 10px 3%;
  border-bottom: 2px solid white;
  transition: transform 0.3s ease-in-out;
}

div2.flex-container2 > section:hover {
  transform: translateX(15px) scale(1.02);
}

div.detailsPage {
  color: white;
  background-color: black;
  padding: 25px 44px 20vh;
}

div.accordion {
  color: white;
  background-color: black;
  padding: 25px 100px 39vh;
}

/* Arrow Button Styling */
#arrow-btn .material-symbols-outlined {
  font-size: 3rem !important;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 15px rgba(7, 7, 7, 0.3);
  animation: bounce 2s infinite;
  transition: transform 0.3s;
}

#arrow-btn .material-symbols-outlined:hover {
  transform: scale(1.2);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width: 600px) {
  div.flex-container {
    flex-direction: column;
  }
}

#bgCanvas {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

