.title-section {
  text-align: center;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url('https://www.shutterstock.com/image-photo/silhouettes-diverse-business-people-working-600nw-1937014780.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.title-section h1 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow:
    0 0 5px #00b3ff87,
    0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #0099ff,
    0 0 80px #0077ffaf,
    0 0 100px #2db0f7;
}


.down-arrow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid rgb(255, 255, 255); 
  margin-top: 30px;
  filter:
    drop-shadow(0 0 5px #00b3ff87)
    drop-shadow(0 0 10px #00b3ff)
    drop-shadow(0 0 20px #00b3ff)
    drop-shadow(0 0 40px #0099ff)
    drop-shadow(0 0 80px #0077ffaf)
    drop-shadow(0 0 100px #2db0f7);
}


.team-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 400px);
  gap: 40px;
  justify-content: center;
  padding: 20px;
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolour-night-sky-background_1048-16653.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: 100%;
}

.team-member {
  border: 1px solid #000;
  border-radius: 8px;
  background:  #05284d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}


.team-member h3 {
  margin-top: 0;
}