h1 {
  text-align: center;
}

.team-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.team-member {
  border: 1px solid #000;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  background: #f9f9f9;

  flex: 0 1 calc((100% / 3) - 13.33px);
  min-width: 200px;
}


.team-member h3 {
  margin-top: 0;
}