.title-section {
  text-align: center;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url('https://www.shutterstock.com/image-photo/silhouettes-diverse-business-people-working-600nw-1937014780.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-section h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow:
    0 0 5px #00b3ff87,
    0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #0099ff,
    0 0 80px #0077ffaf,
    0 0 100px #2db0f7;
}


.down-arrow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid rgb(255, 255, 255); 
  margin-top: 30px;
  filter:
    drop-shadow(0 0 5px #00b3ff87)
    drop-shadow(0 0 10px #00b3ff)
    drop-shadow(0 0 20px #00b3ff)
    drop-shadow(0 0 40px #0099ff)
    drop-shadow(0 0 80px #0077ffaf)
    drop-shadow(0 0 100px #2db0f7);
 cursor: pointer;
 transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.down-arrow:hover {
  transform: translateY(-5px);
  filter: 
    drop-shadow(0 0 5px #00b3ff87)
    drop-shadow(0 0 10px #00b3ff)
    drop-shadow(0 0 20px #00b3ff)
    drop-shadow(0 0 40px #0099ff)
    drop-shadow(0 0 80px #0077ffaf)
    drop-shadow(0 0 100px #2db0f7)
    drop-shadow(0 0 10px #00aaff);
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 400px);
  gap: 40px;
  justify-content: center;
  padding: 20px;
  background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolour-night-sky-background_1048-16653.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover;
}

.team-member {
  border: 5px solid #000;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  transition: all 0.3s ease-in-out;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.team-member img {
  width: 120%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-left: -10%;
  border-radius: 12px 12px 0 0;
  border: 3px solid #444;
}

.team-member h3 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.team-member button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.team-member button:hover {
  background-color: #000000;
}

.team-member p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  color: #ccc;
}