h1 {
  text-align: center;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 400px);
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

.team-member {
  border: 1px solid #000;
  border-radius: 8px;
  background: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.team-member h3 {
  margin-top: 0;
}