* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #53A2F5;
    --secondary-color: #A6C7F9;
    --tertiary-color: #E6EEFD;
    --background-color: #0F375C;
}

#pricing-introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  background: linear-gradient(to bottom right, #111, #1c1c1c);
  position: relative;
}

.page-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

#pricing-introduction .material-symbols-outlined {
  font-size: 3rem;
  cursor: pointer;
  animation: bounce 2s infinite;
  transition: transform 0.3s;
}

#pricing-introduction .material-symbols-outlined:hover {
  transform: scale(1.2);
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
