@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: roboto;
}

html {
  background-color: black;
}

.placeholderNav {
  background-color: #04192d;
  height: 50px;
  width: 100%;
  top: 0;
  color: white;
  z-index: 3;
  position: relative;
}

/** ############### **/
/** Button Classes  **/
/** ############### **/

button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 30px;
  border: none;
  color: #ebebeb;
  font-size: large;
}

button:hover {
  background-color: #3c77a7;
  cursor: pointer;
}

.screen-btn {
  border-color: #1d598f;
  background-color: #1d598f;
  box-shadow: 0px 0px 10px black;
}

.begin-simulation-btn {
  font-size: x-large;
  width: auto;
  padding: 15px 30px;
  text-align: center;
  margin: auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: 2px white solid;
  text-shadow: 0 0 8px #fff, 0 0 2px #00c8ff00;
  animation: fade-in ease-in-out 3000ms forwards,
    breathing-btn ease-in-out 3250ms 250ms infinite;
  opacity: 0;
  transition: all 600ms;
}

.begin-simulation-btn:hover {
  background-color: #0f375c81;
}

@keyframes breathing-btn {
  0%,
  100% {
    box-shadow: #00c8ff 0 0 15px 0.03px;
  }
  50% {
    box-shadow: #00c8ff 0 0 15px 3px;
  }
}

.info-container {
  padding: 10px;
}

/** ############### **/
/** Title Style  **/
/** ############### **/
.title {
  margin-top: 8vh;
  font-size: 5vw; /*TODO: Fix the font size (it's way too small on mobile)*/
  text-align: center;
  margin-bottom: 20vh;
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 25px #00c8ff;
  /* animation: fade-in ease-in-out 3000ms;  */
  z-index: 2;
  position: relative;
}

@keyframes title-glow {
  0%,
  100% {
    text-shadow: 0 0 8px #fff, 0 0 16px #00c8ff;
  }
  50% {
    text-shadow: 0 0 20px #fff, 0 0 40px #00c8ff;
  }
}

/** ################### **/
/** General Animations  **/
/** ################### **/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fridge-animation {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    scale: 2;
    transform: scale(0.7);
  }
}

/** ################################# **/
/** Fridge and Fridge Screen Classes  **/
/** ################################# **/

.fridge-container {
  margin: auto;
  text-align: center;
  transform: scale(0.5);
  opacity: 0;
}

.fridge-animation {
  animation: fridge-animation 3000ms ease-in-out forwards;
}
.screen {
  display: none;
  background-color: #0f375c;
  width: 33%;
  height: 50%;
  position: absolute;
  left: 67.5%;
  top: 77%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  border-radius: 30px;
  /* box-shadow Source: https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.screen-content {
  padding: 15px;
}

/** ######################## **/
/** Space Background Classes **/
/** ######################## **/
canvas {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

.dim-background {
  animation: dimdown 500ms forwards ease-in;
}

@keyframes dimdown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}
